.area {
  background-image: url("richard-gatley-533872-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}
.area2 {
  width: 100%;
  height: 700px;
}
#logoHACE {
  top: 10%;
  width: 13%;
  position: relative;
  margin-left: 42%;
}
#rules img{
  height: 10%;
  top: 10%;
  position: absolute;
  z-index: 2;
  transition: height 1s, left 1s;
  left: 90%;
}
#rules img:hover{
  height: 100%;
  left: 50%;
}
#Ennemie{
  position: relative;
  text-align: center;
  top: 4%;
  color: white;
}
#dealerarea{
  height: 100px;
  position: relative;
  top: 6%;
  left: 11%;
}
#dealerarea img{
  transition: 0.8s;
  position: relative;
  -webkit-animation-name: dealermove;
  -webkit-animation-duration: 0.6s;
  width: 150px;
  margin-right: 50px;
  transform: scale(-1);
}
#Your{
  position: relative;
  text-align: center;
  top: 20%;
}
#yourarea{
  height: 100px;
  position: relative;
  top: 23%;
  left: 11%;
}
#yourarea img {
  transition: 0.8s;
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 0.6s;
  width: 150px;
  margin-right: 50px;
}
#buttons{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 280px;
  left: 700px;
  top: -523px;
}

.button2{
  transition-duration: 0.8s;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border: 2px solid #6f5b5c;
  background-color: #6f5b5c;
  margin-top: 30px;
}
.button2:hover{
  background-color: #94745b;
  color: white;
}
@-webkit-keyframes mymove {
  0% {bottom:-500px;}
  100% {bottom:0px;}
}
@-webkit-keyframes dealermove {
  0% {bottom:1000px;}
  100% {bottom:0px;}
}
/***********************************************************/
#myImg {
    display: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #14141a; /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
