.area {
  background-image: url("richard-gatley-533872-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  background-size: 100%;
}
.area2 {
  width: 100%;
  height: 700px;
}
h1 {
  color: #fae7ac;
  position: relative;
  text-align: center;
  font-size: 45px;
}

#rules img{
  height: 50px;
  position: absolute;
  z-index: 2;
  transition: height 1s;
}
#rules img:hover{
  height: 1000px;
}

#Ennemie{
  position: relative;
  text-align: center;
  top: 4%;
  color: white;
}
#Your{
  position: relative;
  text-align: center;
  top: 50%;
}
#buttons{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
}
.button2{
  transition-duration: 0.8s;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border: 2px solid #162A4C;
  background-color: #162A4C;
}
.button2:hover{
  background-color: inherit;
  color: white;
  font-size: 30px;
}
#yourarea{
  height: 100px;
  position: relative;
  top: 53%;
  left: 25%;
}
#yourarea img {
  transition: 0.8s;
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 0.6s;
  width: 150px;
}
@-webkit-keyframes mymove {
  0% {bottom:-500px;}
  100% {bottom:0px;}
}
#dealerarea{
  height: 100px;
  position: relative;
  top: 6%;
  left: 25%;
}
#dealerarea img{
  transition: 0.8s;
  position: relative;
  -webkit-animation-name: dealermove;
  -webkit-animation-duration: 0.6s;
  width: 150px;
}
@-webkit-keyframes dealermove {
  0% {bottom:1000px;}
  100% {bottom:0px;}
}
/***********************************************************/
#myImg {
    display: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(25, 25, 25); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
